<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel='stylesheet' href='/stylesheets/mui.min.css' />
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <script src="/javascripts/jquery-1.12.4.min.js"></script>
    <script src="/javascripts/mui.min.js"></script>
    <script src="/javascripts/main.js"></script>
  </head>
  <body>
  <header class="mui-bar mui-bar-nav">
    <h1 id="title" class="mui-title">希染小说</h1>
  </header>
  <div class="mui-content">
    <div class="mui-input-row mui-search">
      <input type="search" class="mui-input-clear" placeholder="">
      <button class="searchBTN">搜索</button>
    </div>
    <ul class="mui-table-view">

    </ul>
  </div>
  </body>
  <body>